@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Sofia&display=swap');
* {
  margin: 0;
  padding: 0; 
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}

/* SECTION ONE */
.nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  font-family: 'Raleway', arial, sans-serif;
  font-size: 16px;
  color: rgb(247, 247, 247);
  line-height: 2;
  overflow: hidden;
  background-color: rgb(46, 46, 44, 0.8);
}

ul {
  list-style-type: none;
}

.h3 {
  line-height: 3;
  float: left;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Sofia', serif, system-ui;
  margin-left: 3%;
}

.nav .cherry {
  height: 22px;
  width: 22px;
  float: left;
  border: none;
  margin-left: -3px;
  margin-top: 30px;
}

li a {
  float: right;
  line-height: 3;
  display: block;
  padding: 10px 13px;
  margin-right: 20px;
  color: rgb(247, 247, 247);
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.divOfSection1 {
  background: rgb(46, 79, 97);
  background: linear-gradient(90deg, rgba(46, 79, 97, 1) 11%, rgba(75, 99, 107, 1) 52%, rgba(103, 98, 89, 1) 93%);
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 50px;
}

.mainImg {
  margin-top: 150px;
  height: 400px;
  width: 500px;
  border: 5px solid white;
}

.mainText {
  margin-left: 200px;
  padding-bottom: 50px;
  margin-top: 150px;
  height: 300px;
  width: 400px;
  color: rgb(247, 247, 247);
  font-family: 'Sofia', serif, system-ui;
  font-size: 38px;
  font-weight: 400;
}

.mainText .span {
  margin-top: -20px;
  font-family: 'Raleway', arial, sans-serif;
  font-size: 22px;
}

.hMainText {
  font-size: 50px;
  font-family: 'Sofia', serif, system-ui;
  color: white;
  font-weight: 400;
}

.connectButton {
  color: white;
  font-family: 'Raleway', arial, sans-serif;
  font-size: 20px;
  margin-top: 50px;
  background-color: rgb(227, 76, 119);
  border-radius: 4px;
  height: 24px;
  width: 200px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.connectButton:hover {
  opacity: .8;
}

/* SECTION TWO */
.section2 {
  background-color: white;
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  font-family: 'Sofia', serif, system-ui;
  height: 160px;
  line-height: 2;
  font-size: 38px;
  font-weight: 400;
  margin-top: 30px;
}

.hSection2 {
  margin-left: 500px;
  line-height: 2;
  font-size: 45px;
  font-family: 'Sofia', serif, system-ui;
  color: black;
  font-weight: 400;
}

/*SECTION THREE */
.section3 {
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 40px;
}

.aboutMe {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.aboutText {
  line-height: 1.4;
  font-size: 50px;
  font-family: 'Sofia', serif, system-ui;
  color: rgb(227, 76, 119);
  font-weight: 400;
}

.hr {
  margin-left: 48%;
  width: 50px;
  font-size: 38px;
  border-bottom-width: 2px;
  background-color: rgb(218, 218, 218);
  padding-bottom: 1px;
  margin-top: 20px;
  border: 0;
}

.gridContainer {
  padding: 50px;
  height: fit-content;
  background-color: #f6f6f6;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  display: grid;
  margin-top: 50px;
}

.asidPhoto {
  margin-left: 20px;
  width: 400px;
  box-shadow: 5px 5px #bbb;
}

.overview {
  margin-left: -100px;
  margin-top: 10px;
  text-align: left;
  width: 800px;
}

.containerText {
  color: rgb(227, 76, 119);
  padding: 10px;
  margin-left: -10px;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Raleway', arial, sans-serif;
  text-align: left;
}

.containerParagraph {
  padding-bottom: 60px;
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
  font-family: 'Raleway', arial, sans-serif;
  color: black;
  font-weight: 400;
}

.fb1 {
  font-size: 70px;
  padding: 20px;
  color: red;
}

.fb2 {
  color: blue;
}

.fb3 {
  color: green;
}

.fb4 {
  color: grey;
}

.fb5 {
  color: blueviolet;
}

.skillsHeader {
  font-size: 16px;
  font-family: 'Raleway', arial, sans-serif;
  text-align: left;
}

.spanSkills {
  color: #2e4d5f;
  font-weight: bold;
}

.imgAsaid {
  width: 100%
}

.imgAsaid2 {
  width: 200px;
  height: 200px;
  margin-top: 800px;
  margin-left: 10px;
  background-color: #f6f6f6;
}

/* SECTION FORE */
.section4 {
  margin-top: 30px;
  padding-bottom: 100px;
  background-color: white;
  width: 100%;
  font-family: 'Sofia', serif, system-ui;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}

.projectText {
  line-height: 1.4;
  font-size: 50px;
  font-family: 'Sofia', serif, system-ui;
  color: rgb(227, 76, 119);
  font-weight: 400;
}

.paragraphProject {
  margin-top: 50px;
  color: black;
  font-size: 30px;
  font-family: 'Raleway', arial, sans-serif;
  text-align: center;
}

.lets {
  font-size: 35px;
}

.wrapperCards {
  margin-top: 100px;
  margin-left: 70px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.active, .imgMore:hover {
  background-color: #717171;
}

.card {
  box-shadow: 20px 18px 42px 5px rgba(161, 158, 161, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: 'Raleway', arial, sans-serif;
  height: fit-content;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.card button {
  border: none;
  outline: 0;
  padding: 25px;
  color: white;
  background-color: rgb(227, 76, 119);
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Raleway', arial, sans-serif;
}

.titleCard {
  font-size: 18px;
  margin-top: 10px;
}

.paragraphCard {
  font-size: 15px;
  margin-top: 15px;
}

.card button:hover {
  opacity: 0.7;
}

.imgCard {
  max-height: 300px;
}

.imgMore {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-top: 200px;
}

/* SECTION FIVE */
.section5 {
  background-color: rgb(246, 246, 246);
  padding-bottom: 50px;
  width: 100%;
  font-family: 'Sofia', serif, system-ui;
  font-size: 38px;
  font-weight: 400;
}

.serviceText {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-family: 'Sofia', serif, system-ui;
  color: rgb(227, 76, 119);
  font-weight: 400;
}

.gridContainerSec5 {
  display: grid;
  grid-template-columns: auto auto auto;
  height: fit-content;
  grid-gap: 2px;
  width: 100%;
  margin-top: 40px;
}

.service1 {
  padding: 40px;
  border: 5px solid white;
  margin-left: 200px;
  font-size: 20px;
  text-align: center;
  width: 300px;
}

.service2 {
  margin-left: -50px;
  text-align: center;
  width: 300px;
}

.service3 {
  margin-left: -350px;
}

.verticalLine {
  border-left-width: 3px solid;
  width: 0.25px;
  height: 500px;
  font-size: 38px;
  background-color: rgb(231, 227, 227);
  border: 0;
}

.tileService1 {
  font-family: 'Raleway', arial, sans-serif;
  font-size: 30px;
}

.imgService {
  margin-left: 20px;
  margin-top: 30px;
  width: 180px;
  height: 180px;
}

.pService {
  font-family: 'Raleway', arial, sans-serif;
  margin-top: 40px;
}

.findOutMore {
  margin-left: 30px;
}

/*  SECTION SIX  */
.section6 {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 40px;
  background-color: white;
}

.section6 h4 {
  padding-top: 40px;
  text-align: center;
  font-size: 50px;
  font-family: 'Sofia', serif, system-ui;
  color: rgb(227, 76, 119);
  font-weight: 400;
}

.slideshow {
  position: relative;
  background: #f1f1f1f1;
  height: 250px;
  background-color: #f6f6f6;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  margin-left: 20px;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 20px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.mainContainerTes {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 130px;
  margin-top: -220px;
  margin-left: 150px;
}

.containerTes {
  width: 300px;
  border: 2px solid #ccc;
  background-color: wheat;
  border-radius: 5px;
  padding: 10px;
  padding-top: 20px;
}

.dot-container {
  text-align: center;
  padding: 20px;
  height: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f6f6f6;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.containerTes .p2 {
  margin-top: 40px;
  margin-left: 20px;
  font-family: 'Raleway', arial, sans-serif;
}

.containerTes .p1 {
  margin-top: 20px;
}

.containerTes img {
  margin-left: 10px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.containerTes .span1 {
  font-size: 20px;
  font-weight: 400;
}

.containerTes .span2 {
  color: #6e6c6c;
}

.star {
  margin-top: 10px;
}

.checked {
  color: orange;
}

.ver1 {
  margin-left: 100px;
  padding-top: 20px;
  height: 200px;
}

.ver2 {
  margin-left: 1220px;
  padding-top: 20px;
  margin-top: -350px;
  height: 200px;
}

.containerTes:hover, .containerTes:active {
  cursor: pointer;
  transform: scale(1.20);
}

.sh1 {
  box-shadow: 10px 5px 20px 5px #bbb;
}

/* Section7 */
.section7 {
  width: 100%;
  margin-top: 100px;
  display: block;
  height: 900px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
}

.section7 h4 {
  padding-top: 40px;
  text-align: center;
  font-size: 50px;
  font-family: 'Sofia', serif, system-ui;
  color: rgb(227, 76, 119);
  font-weight: 400;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactLabel {
  margin-top: 10px;
  font-size: 30px;
  color: rgb(227, 76, 119);
  margin-left: 300px;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: rgb(227, 76, 119);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: .8;
}

.containerCon {
  border-radius: 5px;
  margin-left: 400px;
  background-color: #e1dede;
  padding: 20px;
  width: 700px;
  margin-top: 100px;
}

.formContact {
  width: 700px;
}

.area {
  height: 200px;
}

/*SECTION 8*/
.footer {
  line-height: 4;
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgb(46, 46, 44, 0.8);
  color: white;
  text-align: center;
}

.fb12 {
  font-size: 30px;
  margin-left: 20px;
  color: white;
}
/* ---------------------- MEDIA PART OF CODE --------------------*/
@media (max-width:1024px) {
  .mainImg {
    width: 400px;
    margin-top: 110px;
  }
  .mainText {
    margin-left: 100px;
  }
  .hSection2 {
    margin-left: 250px;
  }
  .asidPhoto {
    width: 300px;
  }
  .overview {
    width: 500px;
    margin-left: 0;
  }
  .fb1 {
    padding: 15px
  }
  .imgAsaid2 {
    margin-top: 1000px;
  }
  .imgCard {
    max-width: 200px;
  }
  .imgCard2 {
    max-height: 222px;
  }
  .imgCard3 {
    max-height: 240px;
  }
  .imgCard1 {
    max-height: 222px;
  }
  .service1 {
    margin-left: 50px;
  }
  .service2 {
    margin-left: 40px;
  }
  .service3 {
    margin-left: -250px;
  }
  .containerTes:nth-of-type(3) {
    display: none;
  }
  .mainContainerTes {
    margin-left: 100px;
  }
  .containerCon {
    margin: 102px auto;
  }
}
/*----------------------------------MEDIA TWO -------------------*/
@media ( min-width:377px) and (max-width:768px) {
  body {
    overflow-x: hidden;
    margin: 0;
  }
  /*SECTION ONE */
  .h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .nav .cherry {
    margin-top: 40px;
  }
  .nav{ overflow-x: hidden;
   width: 767px;
  }
  li a {
    font-size: 15px;
    line-height: 4;
    margin-left: 5px;
    padding: 2px;
  }
  .mainImg {
    width: 300px;
    height: 250px;
    margin-top: 110px;
  }
  .mainText {
    margin-left: 40px;
    width: 350px;
    height: 200px;
  }
  .mainText .span {
    margin-top: -45px;
    font-size: 18px;
  }
  .hMainText {
    font-size: 30px;
  }
  .connectButton {
    margin-top: 30px;
    width: 150px;
    font-size: 15px;
    padding: 10px;
  }
  /* SECTION TWO */
  .hSection2 {
    margin-left: 170px;
    font-size: 35px;
  }
  .section2 {
    
    padding-right: 0;
    height: 100px;
  }
  /* SECTION THREE */
  .aboutText {
    font-size: 40px;
  }
  .asidPhoto {
    width: 270px;
    margin-left: 0px;
  }
  .overview {
    width: 400px;
    margin-left: 0;
  }
  .imgAsaid2 {
    margin-top: 1200px;
  }
  /*SECTION FORE */
  .projectText {
    font-size: 40px;
  }
  .paragraphProject {
    font-size: 25px;
  }
  .lets {
    font-size: 30px;
  }
  .wrapperCards {
    margin-top: 70px;
    margin-left: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .card {
    margin-left: 50px;
    max-width: 250px;
    text-align: center;
    height: fit-content;
  }
  .c2 {
    display: none;
  }
  .card button {
    font-size: 15px;
  }
  .paragraphCard {
    font-size: 15px;
    margin-top: 15px;
  }
  .imgCard {
    max-height: 200px;
  }
  /* SECTION FIVE */
  .serviceText {
    font-size: 40px;
  }
  .service1 {
    margin-left: 10px;
    width: 260px;
  }
  .service2 {
    margin-left: 25px;
  }
  .service3 {
    width: 260px;
    margin-left: -280px;
    margin-right: 10px;
  }
  .findOutMore {
    margin-left: 50px;
  }
  /*SECTION SIX */
  .section6 h4 {
    padding-top: 0px;
    font-size: 35px;
  }
  .containerTes:nth-of-type(3) {
    display: none;
  }
  .slideshow {
    width: 740px;
    margin-left: 15px;
  }
  .prev {
    margin-left: -10px;
  }
  .next {
    margin-right: -10px;
  }
  .containerTes {
    width: 290px;
    margin-left: -50px;
  }
  .tes {
    margin-left: 10px;
  }
  .dot-container {
    width: 700px;
    margin-left: 15px;
  }
  /* SECTION SEVEN */
  .section7 h4 {
    padding-top: 30px;
    font-size: 40px;
  }
  /*SECTION EIGHT*/
  .footer {
    line-height: 1;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100vw;
    height: 30px;
  }
  .fb12 {
    font-size: 25px;
  }
}
/*--------------------------------MEDIA THREE -------------------*/
@media (max-width:376px) {
  /* SECTION ONE */
  .nav {
    position: absolute;
    height: 120px;
    overflow: visible;
  }
  .h3 {
    margin-top: 10px;
    margin-left: 50px;
  }
  .nav .cherry {
    margin-top: 50px;
  }
  li a {
    font-size: 10px;
    line-height: 3;
    padding: 20px;
    margin-left: -38px;
  }
  .divOfSection1 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .mainImg {
    margin-top: 170px;
    margin-left: 30px;
    height: 250px;
    width: 300px;
  }
  .mainText {
    margin-left: 50px;
    margin-top: 80px;
    height: 200px;
    width: 300px;
    font-size: 10px;
  }
  .mainText .span {
    margin-top: -20px;
    font-size: 15px;
  }
  .hMainText {
    font-size: 30px;
  }
  /* SECTION TWO */
  .section2 {
    line-height: 4;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
  }
  .hSection2 {
    margin-left: 70px;
    font-size: 20px;
  }
  /*SECTION THREE */
  .aboutText {
    font-size: 30px;
  }
  .hr {
    margin-left: 44%;
  }
  .gridContainer {
    padding-top: 5px;
    padding: 10px;
    flex-direction: column;
    grid-gap: 30px;
    display: flex;
  }
  .asidPhoto {
    margin-top: 10px;
    margin-left: 30px;
    width: 300px;
    box-shadow: none;
  }
  .overview {
    float: right;
    margin-left: 30px;
    margin-top: 10px;
    width: 300px;
  }
  .imgAsaid2 {
    display: none;
  }
  .b2 {
    margin-left: 30px;
  }
  /* SECTION FORE */
  .projectText {
    font-size: 30px;
  }
  .paragraphProject {
    font-size: 20px;
  }
  .lets {
    font-size: 20px;
  }
  .wrapperCards {
    margin-top: 70px;
    margin-left: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .card {
    max-width: 250px;
    text-align: center;
    height: fit-content;
  }
  .c1 {
    display: none;
  }
  .card button {
    font-size: 15px;
  }
  .paragraphCard {
    font-size: 15px;
    margin-top: 15px;
  }
  .imgCard {
    max-height: 200px;
  }
  .imgMore {
    width: 40px;
    height: 50px;
  }
  /* SECTION FIVE */
  .serviceText {
    font-size: 40px;
  }
  .gridContainerSec5 {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .service1 {
    margin-left: 10px;
    width: 270px;
  }
  .service2 {
    display: none;
  }
  .service3 {
    margin-left: 10px;
  }
  /*  SECTION SIX  */
  .section6 h4 {
    padding-top: 0px;
    font-size: 30px;
  }
  .slideshow {
    width: 350px;
    margin-left: 15px;
  }
  .prev {
    margin-left: 0px;
    padding: 0;
  }
  .next {
    margin-right: 0px;
    padding: 0;
  }
  .containerTes {
    width: 270px;
    height: 200px;
    margin-top: 230px;
    margin-left: -72px;
  }
  .ver1{display: none;}
  .ver2{display: none;}
  .cont {
    display: none;
  }
  .dot-container {
    width: 310px;
    margin-left: 15px;
  }
  .containerTes .p2 {
    font-size: 15px;
  }
  .ver1 {
    margin-left: 25px;
  }
  .ver2 {
    margin-left: 320px;
    margin-top: -130px;
  }
  .containerTes:hover, .containerTes:active {
    transform: scale(1.05);
  }
  /* Section7 */
  .section7 h4 {
    padding-top: 30px;
    font-size: 30px;
  }
  .contactLabel {
    font-size: 25px;
    margin-left: 120px;
  }
  .containerCon {
    margin-left: 10px;
    padding: 20px;
    width: 320px;
    margin-top: 60px;
  }
  .formContact {
    width: 320px;
  }
  .area {
    height: 200px;
  }
  /*SECTION 8*/
  .footer {
    line-height: 1;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100vw;
    height: 30px;
  }
  .fb12 {
    font-size: 25px;
  }
}